/.idea
/.DS_Store
node_modules
.DS_Store
dist
/.turbo
/.env
/packages/websocket/.turbo
/packages/util/.turbo
/packages/react-native/.turbo
/packages/react-native-ui/.turbo
/packages/logger/.turbo
/packages/event-emitter/.turbo
/packages/cli/.turbo
