name: Trigger Release

on:
  workflow_dispatch:
    inputs:
      releaseType:
        description: 'Release Type'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
  push:
    branches:
      - main

jobs:
  bump:
    uses: ./.github/workflows/bump-packages.yml
    with:
      version_type: ${{ inputs.releaseType || 'patch' }}
    secrets: inherit 

  publish:
    needs: bump
    uses: ./.github/workflows/publish-packages.yml
    secrets: inherit
